@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, sans-serif;
}
