@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #111;
  --container-xs: 475px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #111;
    --color-foreground: #ededed;
  }
}

:root {
  --color-background: #fff;
  --color-foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111;
    --color-foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: 'Roboto', Arial, sans-serif;
}
