@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/functions' as *;

.banner {
    width: fit-content;
    border: 1px solid var(--color-foreground);
    padding: 2rem;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    background-color: var(--color-background);

    &__heading {
        margin-bottom: 1.5rem;
    }
}
