//* Colors
$primary: #ff0035;
$secondary: #111;
$white: #fff;
$lightgrey: #d3d3d3;
$grey: #222;
$grey-1: #AAA;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
  'lightgrey': $lightgrey,
  'grey': $grey,
  'grey-1': $grey-1,
);

//* Fonts
$primary-font: 'Roboto', Arial, sans-serif;

$grid-breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);
